.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    padding: 15px;
    margin: 0 auto;
    min-height: calc(100dvh - 95px);
    overflow: visible;
}

.linearV {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    overflow: visible;
}

.search {
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: #464646 solid 1.5px;
    border-radius: 23px;
    overflow: visible;
}

.searchBox {
    color: #fff;
    background-color: #0000;
    border: 0 solid #000;
    border-bottom: 1px solid #464646;
    outline: none;
    font-size: 21px;
    width: 100%;
}

.problems {
    margin-top: 15px;
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: #464646 solid 1.5px;
    border-radius: 23px;
    overflow: visible;
}

.problem {
    display: flex;
    flex-direction: row;
    gap: 13px;
    padding: 5px;
    border-radius: 13px;
    cursor: pointer;
    will-change: background-color;
    transition: background-color, .25s;
    text-decoration: none;
}

.problem .tier {
    margin: auto 0;
}

.problem:hover {
    background-color: #464646;
}

.problem .texts {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.problem .title {
    font-size: 1.271428rem;
    color: #fff;
    margin: auto 0;
    font-weight: 600;
}

.problem .tags {
    font-size: .87rem;
    color: #adadad;
    margin: auto 0;
}

.problem .icon {
    font-size: 1.2rem;
    color: #464646;
    margin: auto 0 auto auto;
    will-change: transform, color;
    transition-property: transform, color;
    transition-duration: .25s;
}

.problem:hover .icon {
    color: #fff;
    transform: translateX(-5px);
}

.empty {
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty .title {
    font-size: 1.271428rem;
    color: #fff;
    margin: auto 0;
    font-weight: 600;
}

.problem .solved {
    font-size: 32px;
    color: #75ff5a;
    margin: auto 0;
}